LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

OLLAMA_BASE_URL=https://api.ollama.com
OLLAMA_API_KEY=

DB_USER=
DB_HOST=
DB_NAME=
DB_PORT=
DB_PASSWORD=

PINECONE_API_KEY=
PINECONE_INDEX_NAME=

PINECONE_INDEX_NAME_DOCLING=

GOOGLE_API_KEY=
GOOGLE_CLOUD_PROJECT=